body {
	background-color: rgba(255,105,180,0.8);
  margin:auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 10px;
}

.title{
  font-family: 'Pacifico', cursive;
  font-size: 45px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width:390px;
  text-align: center;
  padding: 10px 5px;
  justify-content: space-around;
  align-items:center;
  border-radius: 5px;
}

.answer h2{
  font-weight: strong;
  font-size: 40px;
}

.answer p{
  font-style: italic;
  text-align: justify;
}

.giphy{
  max-width: 100%;
  max-height: 300px;
}
